// Colors

$background-color: #F8F9F8; // primary background
$text-color: #000000; // primary background
$white-color: #FFFFFF;
$violent-color: #646C9A;
$violent-dark-color: #494E6D;
$violent-light-color: #9197BF;
$grey-color: #52575D;
$grey-light-color: #A19DAF;
$blue-color: #5A90BC;
