$sm: 30rem; // 480px
//$sm640: 40rem; //640px
$md: 48rem; // 768px
//$lg: 64rem; // 1024px
//$lg: 68rem; // 1185px
$lg: 72rem; // 1152px
//$tablet: 80rem; //1280px
$xl: 90rem; //1440px
//$bigMonitor: 150rem; //2400px

$basePadding: 2rem;
