@import '../../styles/colors';
@import '../../styles/media';

.slider {

}
.slider-pagination {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  top: 0;
}
.slider-pagination-item {
  background: $background-color;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 13px;
  font-family: MontserratSemiBold, sans-serif;
  flex: 1;
  max-width: 230px;
  margin: 0 5px;
  transition: background-color .5s ease;

  &:hover,
  &.slider-pagination-item-active {
    background-color: $violent-color;
    color: $white-color;
  }
}

.slider-pagination-hide {
  display: none;
  @media (min-width: $lg) {
    display: flex;
  }
}
